*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.ttf') format('truetype');
}
@font-face {
    font-family: 'sahel';
    src: url('../font/Sahel-Bold-FD.ttf') format('truetype');
}
@font-face {
    font-family: 'sahelBD';
    src: url('../font/Sahel-Bold.aff79e52.woff2') format('woff2');
}
body{
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    background-color: #F9F9F9;
    color: #000;
    overflow-x: hidden;
    /* height: 5000px; */
}
/* scroll bar custom */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.h-65{
    height: 65%;
}
.h-85{
    height: 85%;
}
.h-90{
    height: 90%;
}
.fs-7{
    font-size: 14px !important;
}
.fs-8{
    font-size: 12px !important;
}
/* -------------------------------------------------------------------------- */
/*                               custom classes                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------ lg navbar style ------------------------------ */
.navbar{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: transparent;
    z-index: 999;
    color: white;
}
.shrink{
    background-color: white !important;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.shrink a{
    color: #000 !important;
}
.nav a{
    font-size: 14px;
    padding: 0 20px;
    transition: .2s all ease-in-out;
}
.nav a:hover{
    color: #EB3F5F !important;
}
.nav .active:hover{
    color: white !important;
}
.nav .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
}
.nav .dark-mode{
    display: flex;
    width: 82px;
    height: 14px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #AFAFB6;
}
.nav .dark-mode a{
    margin:0px 6px;
    padding: 10px 5px;
    height: 0px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    background-color: #AFAFB6;
}
.nav .dark-mode a svg{
    width: 12px;
    height: 12px;
    color: white !important;
}
/* ------------------------------- End lg navbar ------------------------------- */

/* ------------------------------ Start Banner ------------------------------ */
.banner{
    width: 100%;
    height: 425px;
    background-color: red;
}
.banner .card , .Blog-post .card , .overlay-cards-2 .card{
    overflow: hidden;
    cursor: pointer;
}
.banner .card img , .Blog-post .col-lg-6:nth-child(3) .card img , .overlay-cards-2 .col-lg-3 .card img{
    transition: .5s all ease-in-out;
    filter: brightness(60%);
}
.banner .card:hover img , .Blog-post .col-lg-6:nth-child(3) .card:hover img , .overlay-cards-2 .col-lg-3 .card:hover img{
    transform: scale(1.1);
}
.banner .card .card-img-overlay .card-title , .Blog-post .card .card-img-overlay .card-title ,  .overlay-cards-2 .card .card-img-overlay .card-title{
    font-family: sahelBD !important;
    font-size: 21px !important;
}
/* ------------------------------- End Banner ------------------------------- */

/* --------------------------- Start Category Shop And Blog Post -------------------------- */
.Category-Shop .card-title, .Blog-post .card-title{
    font-size: 16px;
}
.Category-Shop .card-text{
    font-size: 14px;
    word-spacing: 5px;
}
.Category-Shop .btn-somewhere , .Blog-post .btn-somewhere{
    font-size: 12px;
    padding: 8px 15px;
    color: white;
    transition: .3s all ease-in-out;
}
.Category-Shop .btn-somewhere:hover{
    background-color: #414141;
}
.Blog-post .btn-somewhere:hover{
    background-color: #EB3F5F;
}
.Category-Shop svg{
    fill: #737378;
}
.Category-Shop i:last-child , .Blog-posti i:last-child{
    cursor: pointer;
}
.Category-Shop h5:last-child , .Blog-post h5:last-child{
    font-size: 11px;
    color: #A0A0A7;
}
.Blog-post .fa-chevron-left{
    position: absolute;
    left: 40px;
}
.Blog-post .bi-chevron-right{
    position: absolute;
    right: 70px;
}
.Blog-post .col-lg-12:nth-child(2) .card-body ,.Blog-post .col-lg-12:nth-child(6) .card-body {
    height: 125px !important;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text {
    color: #5d656c;
    font-size: 13px;
    line-height: 2;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .bi-chat ,.Blog-post .col-lg-12:nth-child(6) .card-body .bi-chat{
    transform: rotateY(180deg);
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text:nth-child(2) ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text:nth-child(2){
    font-size: 11px;
    color: #9a9a9a;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text:nth-child(2) i ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text:nth-child(2) i{
    color: #363636;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-link ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-link{
    transition: .2s all ease-in-out;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-link:hover ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-link:hover{
    color: #EB3F5F;
}
.Blog-post .overlay-cards .card .card-text{
    color:#f3f3f3;
    font-size: 13px;
}
.Blog-post .card .card-img-overlay .fw-bold{
    font-size: 18px !important;
    white-space:nowrap;
    margin-top: 21%;
}
.Blog-post .overlay-cards .col-lg-6:nth-child(3) .card .card-img-overlay .fw-bold{
    white-space:normal;
    margin-top: 14% !important;
    line-height: 1.85;
}

.overlay-cards-2 .card-text{
    font-size: 12px;
}
/* ---------------------------- End Category Shop and Blog Post --------------------------- */