*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.ttf') format('truetype');
}
@font-face {
    font-family: 'sahel';
    src: url('../font/Sahel-Bold-FD.ttf') format('truetype');
}
@font-face {
    font-family: 'sahelBD';
    src: url('../font/Sahel-Bold.aff79e52.woff2') format('woff2');
}
body{
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    background-color: #F9F9F9;
    color: #000;
    overflow-x: hidden;
    /* height: 5000px; */
}
/* scroll bar custom */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.h-65{
    height: 65%;
}
.h-85{
    height: 85%;
}
.h-90{
    height: 90%;
}
.fs-7{
    font-size: 14px !important;
}
.fs-8{
    font-size: 12px !important;
}
/* -------------------------------------------------------------------------- */
/*                               custom classes                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------ lg navbar style ------------------------------ */
.navbar{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: transparent;
    z-index: 999;
    color: white;
}
.shrink{
    background-color: white !important;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.shrink a{
    color: #000 !important;
}
.nav a{
    font-size: 14px;
    padding: 0 20px;
    transition: .2s all ease-in-out;
}
.nav a:hover{
    color: #EB3F5F !important;
}
.nav .active:hover{
    color: white !important;
}
.nav .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
}
.nav .dark-mode{
    display: flex;
    width: 82px;
    height: 14px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #AFAFB6;
}
.nav .dark-mode a{
    margin:0px 6px;
    padding: 10px 5px;
    height: 0px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    background-color: #AFAFB6;
}
.nav .dark-mode a svg{
    width: 12px;
    height: 12px;
    color: white !important;
}

.nav .box-hover{
  width: 470px;
  height: 285px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 42px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: .1s all ease-in-out;
  cursor: default;
  white-space: nowrap;
}
.nav .nav-link:hover + .box-hover,
.nav .box-hover:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
/* ------------------------------- End lg navbar ------------------------------- */

/* ------------------------------ Start Banner ------------------------------ */
.banner{
    width: 100%;
    height: 425px;
    background-color: red;
}
.banner .card , .Blog-post .card , .overlay-cards-2 .card{
    overflow: hidden;
    cursor: pointer;
}
.banner .card img , .Blog-post .col-lg-6:nth-child(3) .card img , .overlay-cards-2 .col-lg-3 .card img{
    transition: .5s all ease-in-out;
    filter: brightness(60%);
}
.banner .card:hover img , .Blog-post .col-lg-6:nth-child(3) .card:hover img , .overlay-cards-2 .col-lg-3 .card:hover img{
    transform: scale(1.1);
}
.banner .card .card-img-overlay .card-title , .Blog-post .card .card-img-overlay .card-title ,  .overlay-cards-2 .card .card-img-overlay .card-title{
    font-family: sahelBD !important;
    font-size: 21px !important;
}
/* ------------------------------- End Banner ------------------------------- */

/* --------------------------- Start Category Shop And Blog Post -------------------------- */
.Category-Shop .card-title, .Blog-post .card-title{
    font-size: 16px;
}
.Category-Shop .card-text{
    font-size: 14px;
    word-spacing: 5px;
}
.Category-Shop .btn-somewhere , .Blog-post .btn-somewhere{
    font-size: 12px;
    padding: 8px 15px;
    color: white;
    transition: .3s all ease-in-out;
}
.Category-Shop .btn-somewhere:hover{
    background-color: #414141;
}
.Blog-post .btn-somewhere:hover{
    background-color: #EB3F5F;
}
.Category-Shop svg{
    fill: #737378;
}
.Category-Shop i:last-child , .Blog-posti i:last-child{
    cursor: pointer;
}
.Category-Shop h5:last-child , .Blog-post h5:last-child{
    font-size: 11px;
    color: #A0A0A7;
}
.Blog-post .fa-chevron-left{
    position: absolute;
    left: 40px;
}
.Blog-post .bi-chevron-right{
    position: absolute;
    right: 70px;
}
.Blog-post .col-lg-12:nth-child(2) .card-body ,.Blog-post .col-lg-12:nth-child(6) .card-body {
    height: 125px !important;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text {
    color: #5d656c;
    font-size: 13px;
    line-height: 2;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .bi-chat ,.Blog-post .col-lg-12:nth-child(6) .card-body .bi-chat{
    transform: rotateY(180deg);
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text:nth-child(2) ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text:nth-child(2){
    font-size: 11px;
    color: #9a9a9a;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-text:nth-child(2) i ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-text:nth-child(2) i{
    color: #363636;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-link ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-link{
    transition: .2s all ease-in-out;
}
.Blog-post .col-lg-12:nth-child(2) .card-body .card-link:hover ,.Blog-post .col-lg-12:nth-child(6) .card-body .card-link:hover{
    color: #EB3F5F;
}
.Blog-post .overlay-cards .card .card-text{
    color:#f3f3f3;
    font-size: 13px;
}
.Blog-post .card .card-img-overlay .fw-bold{
    font-size: 18px !important;
    white-space:nowrap;
    margin-top: 21%;
}
.Blog-post .overlay-cards .col-lg-6:nth-child(3) .card .card-img-overlay .fw-bold{
    white-space:normal;
    margin-top: 14% !important;
    line-height: 1.85;
}

.overlay-cards-2 .card-text{
    font-size: 12px;
}
/* ---------------------------- End Category Shop and Blog Post --------------------------- */

/* ------------------------------ Start Footer Using Figma ------------------------------ */
:root {
    /* fonts */
    --font-vazirmatn: vazir;
  
    /* font sizes */
    --font-size-smi: 13px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-gray: #c6c6c6;
    --color-darkslategray-100: #383e43;
  
    /* Paddings */
    --padding-9xs-5: 3.5px;
    --padding-10xs: 3px;
    --padding-7xs: 6px;
    --padding-9xs: 4px;
  }
.image,
.vector-icon {
  position: relative;
  width: 504px;
  height: 320px;
}
.image {
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 252px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divfooter-bottomline-wix45t- {
  position: absolute;
  width: 100%;
  top: 407.87px;
  right: 0;
  left: 0;
  background-color: #32323c;
  height: 10px;
}
.div,
.pseudo {
  position: absolute;
  top: 0;
}
.pseudo {
  left: 96px;
  background-color: #eee;
  width: 1824px;
  height: 1px;
}
.div {
  right: -0.2px;
  line-height: 16.1px;
  font-weight: 200;
}
.vector-icon1,
.vector-icon2 {
  position: relative;
  width: 70px;
  height: 44px;
}
.vector-icon2 {
  width: 31px;
  height: 23px;
  margin-left: -13px;
}
.link,
.svg {
  display: flex;
  flex-direction: row;
}
.svg {
  width: 90px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-9xs) 26.00011825561523var (--padding-9xs) 4px
    26.000091552734375px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.link {
  padding: 0 0 var(--padding-9xs-5);
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}
.svg-icon {
  position: relative;
  width: 90px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}
.link1,
.link2 {
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs-5);
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.link2 {
  z-index: 1;
}
.svg-icon2 {
  position: relative;
  width: 110px;
  height: 32px;
  overflow: hidden;
  margin-top: 5px;
  flex-shrink: 0;
}
.divflex-flex-le1v16-01,
.link3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.link3 {
  padding: var(--padding-7xs) 0 9.5px;
  justify-content: center;
  z-index: 0;
}
.divflex-flex-le1v16-01 {
  position: absolute;
  width: calc(100% - 23.97px);
  top: 48.09px;
  right: 223.97px;
  left: 0;
  flex-wrap: wrap;
  padding: 0 0 0 0.029999999329447746px;
  box-sizing: border-box;
  justify-content: space-between;
}
.divcol-col-sc-1qirq9q-0 {
  position: relative;
  width: 660px;
  height: 164.38px;
  max-width: 660px;
  z-index: 1;
}
.div2,
.link4 {
  position: relative;
  line-height: 16.1px;
  font-weight: 200;
  z-index: 1;
}
.link4 {
  z-index: 0;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 281.72998046875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2.47px;
  max-width: 440px;
}
.item1,
.theforge {
  line-height: 16.1px;
  font-weight: 200;
  color: #c6c6c6;
}
.item1 {
  position: absolute;
  top: 28.1px;
  right: -0.69px;
}
.theforge {
  position: relative;
}
.item2 {
  position: absolute;
  top: 53.19px;
  right: -0.2px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) 0 2px 0.05999755859375px;
  align-items: flex-start;
  justify-content: flex-end;
}
.list {
  position: relative;
  width: 440px;
  height: 72.28px;
}
.divcol-col-sc-1qirq9q-01 {
  display: flex;
  flex-direction: column;
  padding: 0 0 40.010005950927734px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35.09px;
  max-width: 660px;
  z-index: 1;
}
.divfooter-redbar-wix45t-5 {
  position: relative;
  border-radius: 25px;
  background-color: #e4002b;
  width: 50px;
  height: 4px;
}
.divcol-col-sc-1qirq9q-02,
.list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.list1 {
  padding: 0 0 0 119.19999694824219px;
  gap: 11.1px;
}
.divcol-col-sc-1qirq9q-02 {
  padding: var(--padding-7xs) 0 11.080001831054688px;
  box-sizing: border-box;
  gap: 42px;
  max-width: 220px;
  z-index: 0;
  color: var(--color-darkslategray-100);
}
.divflex-flex-le1v16-0,
.divflex-flex-le1v16-02 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.divflex-flex-le1v16-02 {
  justify-content: flex-start;
  z-index: 0;
}
.divflex-flex-le1v16-0 {
  width: 1320px;
  justify-content: space-between;
}
.vector-icon3 {
  position: relative;
  width: 24px;
  height: 19.5px;
}
.link5,
.svg1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg1 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 2.25px 0;
  box-sizing: border-box;
  justify-content: flex-start;
}
.link5 {
  padding: 0 0 var(--padding-9xs-5);
  justify-content: center;
  z-index: 7;
}
.vector-icon4 {
  position: relative;
  width: 24px;
  height: 21px;
}
.link6,
.svg2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1.4997000694274902px 0 1.5005440711975098px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.link6 {
  padding: 0 0.00037794397212564945px var(--padding-9xs-5) 0;
  justify-content: center;
  z-index: 6;
}
.vector-icon5 {
  position: relative;
  width: 24px;
  height: 18px;
}
.link7,
.svg3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg3 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
}
.link7 {
  padding: 0 0 var(--padding-9xs-5);
  justify-content: center;
  z-index: 5;
}
.vector-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
}
.link8,
.svg4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg4 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 0.001277923583984375px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.link8 {
  padding: 0 0 var(--padding-9xs-5);
  justify-content: center;
  z-index: 4;
}
.svg-icon3,
.svg-icon5,
.svg5 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.svg5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-icon3,
.svg-icon5 {
  position: relative;
}
.svg-icon5 {
  object-fit: cover;
}
.divflex-flex-le1v16-04,
.link12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.link12 {
  padding: 0 0 var(--padding-9xs-5);
  justify-content: center;
  z-index: 0;
}
.divflex-flex-le1v16-04 {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  z-index: 1;
}
.div4 {
  top: 5px;
  right: -0.2px;
}
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  line-height: 14.95px;
  font-weight: 200;
}
.div5 {
  top: -2px;
  right: 9.35px;
  display: flex;
  align-items: center;
  width: 27.26px;
}
.div6,
.div7 {
  top: 5px;
  right: 36.41px;
}
.div7 {
  top: 0;
  right: 76.96px;
  line-height: 26px;
}
.div3 {
  position: relative;
  width: 503.72px;
  height: 27.5px;
  z-index: 0;
}
.divflex-flex-le1v16-03 {
  width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-smi);
}
.divcontainer-container-cgzih {
  position: absolute;
  top: 120px;
  left: calc(50% - 660px);
  width: 1320px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0.010009765625px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 63.99px;
  max-width: 1320px;
}
.footer-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 417.88px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  font-family: var(--font-vazirmatn);
}

/* ------------------------------- End Footer ------------------------------- */